<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        {{{ cssContent }}}
    </style>
</head>
<body>
    <!-- PÁGINA 1 -->
    <div id="pdf-page-1" class="pdf-page">
        <!-- Encabezado -->
        <div class="pdf-header">
            <img src="https://res.cloudinary.com/dmr1j8icx/image/upload/v1758736090/logo_sepelios_evqtc1.png" style="height: 40px;" />
            <div class="header-details">
                <div><span class="data">{{ titulo }}</span></div>
                <div><span class="data header-details-plan">{{ plan }}</span></div>
                <div><span class="data">{{ operacion }}</span></div>
            </div>
            <img src="https://res.cloudinary.com/dmr1j8icx/image/upload/v1758736080/logo_salud_ytrnqd.png" style="height: 40px;" />
        </div>
        <div class="pdf-subheader">
            <span><span class="label">N° de Solicitud: </span><span class="data">{{ solicitud }}</span></span>
            <span><span class="label">N° de Afiliado: ..............................</span></span>
        </div>

        <!-- DATOS DEL TITULAR -->
        <div class="pdf-section">
            <div class="pdf-section-title">DATOS DEL TITULAR</div>
            <div class="pdf-data-fluid">
                <span class="pdf-data-item"><span class="label">Apellidos y nombres:</span><span class="data">{{ apellidoTitular }}, {{ nombreTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">N° de documento:</span><span class="data">{{ dniTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Cuit/Cuil:</span><span class="data">{{ cuilTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Sexo:</span><span class="data">{{ sexoTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Fecha de nacimiento:</span><span class="data">{{ fechaNacimientoTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Edad:</span><span class="data">{{ edadTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Lugar de nacimiento:</span><span class="data">{{ lugarNacimientoTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Nacionalidad:</span><span class="data">{{ nacionalidadTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Estado civil:</span><span class="data">{{ estadoCivilTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Domicilio:</span><span class="data">{{ barrioTitular }}, {{ domicilioTitular }}, {{ localidadTitular }}, {{ provinciaTitular }} ({{ cpTitular }})</span></span>
                <span class="pdf-data-item"><span class="label">Teléfono:</span><span class="data">{{ telefonoTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Email:</span><span class="data">{{ emailTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Actividad laboral:</span><span class="data">{{ actividadLaboralTitular }}</span></span>
                <span class="pdf-data-item"><span class="label">Condición IVA:</span><span class="data">{{ condicionIVATitular }}</span></span>
            </div>
        </div>

        <!-- DATOS DEL RESPONSABLE DE PAGO -->
        {{#if dniResponsablePago}}
        <div class="pdf-section">
            <div class="pdf-section-title">DATOS DEL RESPONSABLE DE PAGO</div>
            <div class="pdf-data-fluid">
                <span class="pdf-data-item"><span class="label">Apellidos y nombres:</span><span class="data">{{ apellidoResponsablePago }}, {{ nombreResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">N° de documento:</span><span class="data">{{ dniResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Cuit/Cuil:</span><span class="data">{{ cuilResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Sexo:</span><span class="data">{{ sexoResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Fecha de nacimiento:</span><span class="data">{{ fechaNacimientoResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Lugar de nacimiento:</span><span class="data">{{ lugarNacimientoResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Nacionalidad:</span><span class="data">{{ nacionalidadResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Estado civil:</span><span class="data">{{ estadoCivilResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Domicilio:</span><span class="data">{{ barrioResponsablePago }}, {{ domicilioResponsablePago }}, {{ localidadResponsablePago }} ({{ cpResponsablePago }})</span></span>
                <span class="pdf-data-item"><span class="label">Teléfono:</span><span class="data">{{ telefonoResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Email:</span><span class="data">{{ emailResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Actividad laboral:</span><span class="data">{{ actividadLaboralResponsablePago }}</span></span>
                <span class="pdf-data-item"><span class="label">Condición IVA:</span><span class="data">{{ condicionIVAResponsablePago }}</span></span>
            </div>
        </div>
        {{/if}}

        <!-- DATOS DEL CÓNYUGE -->
        {{#if dniConyuge}}
        <div class="pdf-section">
            <div class="pdf-section-title">DATOS DEL CÓNYUGE</div>
            <div class="pdf-data-fluid">
                <span class="pdf-data-item"><span class="label">Apellidos y nombres:</span><span class="data">{{ apellidoConyuge }}, {{ nombreConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">N° de documento:</span><span class="data">{{ dniConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Cuit/Cuil:</span><span class="data">{{ cuilConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Sexo:</span><span class="data">{{ sexoConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Fecha de nacimiento:</span><span class="data">{{ fechaNacimientoConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Fecha de nacimiento:</span><span class="data">{{ edadConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Nacionalidad:</span><span class="data">{{ nacionalidadConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Teléfono:</span><span class="data">{{ telefonoConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Actividad laboral:</span><span class="data">{{ actividadLaboralConyuge }}</span></span>
                <span class="pdf-data-item"><span class="label">Condición IVA:</span><span class="data">{{ condicionIVAConyuge }}</span></span>
            </div>
        </div>
        {{/if}}

        <!-- DATOS DEL PAGO -->
        <div class="pdf-section">
            <div class="pdf-section-title">DATOS DEL PAGO</div>
            <div class="pdf-data-fluid">
                <span class="pdf-data-item"><span class="label">Forma de pago:</span><span class="data">{{ formaPago }}</span></span>
                <span class="pdf-data-item"><span class="label">Acuerdo:</span><span class="data">{{ acuerdo }}</span></span>
                <span class="pdf-data-item"><span class="label">Medio de pago:</span><span class="data">{{ medioPago }}</span></span>
                <span class="pdf-data-item"><span class="label">Empresa:</span><span class="data">{{ empresa }}</span></span>
                <span class="pdf-data-item"><span class="label">CBU / N° Cuenta:</span><span class="data">{{ cbu }}</span></span>
                <span class="pdf-data-item"><span class="label">N° de tarjeta:</span><span class="data">{{ tarjeta }}</span></span>
                <span class="pdf-data-item"><span class="label">Vencimiento:</span><span class="data">{{ vencimiento }}</span></span>
                <span class="pdf-data-item"><span class="label">Lugar de pago:</span><span class="data">{{ lugarPago }}</span></span>
                <span class="pdf-data-item"><span class="label">Domicilio de pago:</span><span class="data">{{ domicilioPago }}, {{ barrioPago }}</span></span>
                <span class="pdf-data-item"><span class="label">Zona:</span><span class="data">{{ zonaPago }}</span></span>
            </div>
        </div>

        <!-- BENEFICIARIO POR FALLECIMIENTO -->
        {{#if dniBeneficiario}}
        <div class="pdf-section">
            <div class="pdf-section-title">BENEFICIARIO POR FALLECIMIENTO</div>
            <div class="pdf-data-fluid">
                <span class="pdf-data-item"><span class="label">Apellidos y Nombres:</span><span class="data">{{ apellidoBeneficiario }}, {{ nombreBeneficiario }}</span></span>
                <span class="pdf-data-item"><span class="label">Sexo:</span><span class="data">{{ sexoBeneficiario }}</span></span>
                <span class="pdf-data-item"><span class="label">Fecha de nacimiento:</span><span class="data">{{ fechaNacimientoBeneficiario }}</span></span>
                <span class="pdf-data-item"><span class="label">Cuit/Cuil:</span><span class="data">{{ cuilBeneficiario }}</span></span>
                <span class="pdf-data-item"><span class="label">Vínculo:</span><span class="data">{{ vinculoBeneficiario }}</span></span>
            </div>
        </div>
        {{/if}}

        <!-- DECLARACIÓN JURADA DE SALUD -->
        <div class="pdf-section" style="border: solid 1px #333;">
            <div style="display: flex; justify-content: center; margin-top: 3px;">DECLARACIÓN JURADA DE SALUD</div>
            <p class="pdf-data-fluid" style="font-size: 6.5pt; text-align: justify; margin-bottom: 5px;"><span class="pdf-data-item" style="white-space: normal;"><span class="label">El que suscribe la presente, declara bajo juramento que las respuestas que se consigan a continuación y sus ampliaciones y declaraciones, han sido completadas teniendo pleno conocimiento de que cualquier ocultamiento, falsedad o reticencia sobre su verdadero estado de salud o el de su grupo familiar, determinará que la afiliación sea nula.</span></span></p>
            <div class="pdf-data-fluid" style="margin-top: 5px;">
                <span class="pdf-data-item"><span class="label">1. ¿Se siente Ud. y su grupo familiar en buen estado de salud?</span><span class="data">{{ ddjj1 }}</span></span>
                <span class="pdf-data-item"><span class="label">2. ¿Tiene Ud. y/o su grupo familiar alguna dificultad para el desempeño de sus tareas laborales habituales?</span><span class="data">{{ ddjj2 }}</span></span>
                <span class="pdf-data-item"><span class="label">3. ¿Ha sido tratado Ud. y/o su grupo familiar alguna vez, o está actualmente en tratamiento por las siguientes enfermedades?</span></span>
            </div>
            
            <div class="ddjj-grid-6x3">
                <span class="pdf-data-item"><span class="label">a. Cardiovasculares</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj4 }}</span></span>
                <span class="pdf-data-item"><span class="label">b. Broncopulmonares</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj5 }}</span></span>
                <span class="pdf-data-item"><span class="label">c. Hipertensión</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj6 }}</span></span>
                <span class="pdf-data-item"><span class="label">d. Diabetes</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj7 }}</span></span>
                <span class="pdf-data-item"><span class="label">e. Malignas (Cáncer)</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj8 }}</span></span>
                <span class="pdf-data-item"><span class="label">f. Inmunodeficiencia</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj9 }}</span></span>
                <span class="pdf-data-item"><span class="label">g. Convulsiones</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj10 }}</span></span>
                <span class="pdf-data-item"><span class="label">h. Mal de Chagas</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj11 }}</span></span>
                <span class="pdf-data-item"><span class="label">i. Otras</span></span>
                <span class="pdf-data-item"><span class="data">{{ ddjj12 }}</span></span>
            </div>
            <div class="pdf-data-fluid" style="margin-top: 5px;">
                <span class="pdf-data-item"><span class="label">4. ¿Tiene Ud. y/o su grupo familiar algún defecto físico o discapacidad?</span><span class="data">{{ ddjj13 }}</span></span>
                <span class="pdf-data-item"><span class="label">5. ¿Ha sido internado Ud. y/o su grupo familiar en los últimos 24 meses?</span><span class="data">{{ ddjj14 }}</span></span>
                <span class="pdf-data-item"><span class="label">6. ¿Se le ha efectuado alguna operación a Ud. y/o su grupo familiar en los últimos 24 meses?</span><span class="data">{{ ddjj15 }}</span></span>
                <span class="pdf-data-item"><span class="label">7. ¿Toma Ud. y/o su grupo familiar en forma regular alguna medicación?</span><span class="data">{{ ddjj16 }}</span></span>
                <span class="pdf-data-item"><span class="label"  style="font-size: 6.5pt;">En caso de respuesta afirmativa a las preguntas 2, 3, 4, 5, 6 y 7, o negativa a la 1; aclare en el anexo el integrante/s por qué (diagnóstico), cuándo ocurrió (fechas), dónde (Hospital o Clínica), nombre del médico que atendió, nombre del medicamento y dosis diaria.</span><span class="data"> Cantidad de anexos presentados: {{ anexo }}</span></span>
                <span class="pdf-data-item" style="font-size: 6.5pt; font-weight: bold; color: black;">Disposiciones Fundamentales</span>
                <span class="pdf-data-item" style="font-size: 6.5pt;"><span class="label">Declaro y certifico que los datos consignados con respecto a mi estado de salud y del grupo familiar son exactos.</span>
                <span class="pdf-data-item" style="font-size: 6.5pt;"><span class="label">RETICENCIA O FALSA DECLARACIÓN art. 5° (sección 2) Ley 17.418. Toda declaración falsa o toda reticencia de circunstancias conocidas por el contratante o los asegurados, aún hechas de buena fe, que a juicio de los peritos hubiese impedido el contrato o modificado sus condiciones si la compañía hubiese conocido el verdadero estado de riesgo, hace nulo el contrato y los certificados según el caso.</span></span>
                <span class="pdf-data-item" style="font-size: 6.5pt; font-weight: bold; color: black;">Declaración Jurada sobre persona expuesta políticamente: Resolución UIF N° 52/2012:</span>
                <span class="pdf-data-item" style="font-size: 6.5pt;"><span class="label">Quien suscribe la presente declara bajo juramento que los datos consignados en la presente son correctos, completos y fiel expresión de la verdad y que <span class="data">{{ pep }}</span></span>me encuentro incluido y/o alcanzado dentro de la Nómina de Funciones/ Funcionarios de Personas Expuestas Políticamente. Declaro bajo juramento la licitud de los fondos relacionados a esta operación en cumplimiento de la R 230/2011 de la UIF.</span>
            </div>
        </div>


        <!-- INTEGRANTES -->
        <div class="pdf-section">
            <div class="pdf-section-title">Integrantes del Grupo Familiar</div>
            <table class="pdf-table-compact">
                <thead><tr><th>Apellidos y Nombres</th><th>Sexo</th><th>Fecha de nac.</th><th>Edad</th><th>Cuit/Cuil</th><th>Vínculo</th><th>Cuota Mensual</th></tr></thead>
                <tbody>
                    {{#each integrantesList}}
                    <tr>
                        <td>{{ this.apellidos }}, {{ this.nombres }}</td>
                        <td>{{ this.sexo }}</td>
                        <td>{{ this.fechaNacimiento }}</td>
                        <td>{{ this.edad }}</td>
                        <td>{{ this.cuitCuil }}</td>
                        <td>{{ this.vinculo }}</td>
                        <td>$ {{ this.cuotaMensual }}</td>
                    </tr>
                    {{/each}}
                    {{#unless integrantesList}}
                    <tr><td colspan="7" style="text-align: center; color: #888;">- Sin integrantes en el grupo familiar -</td></tr>
                    {{/unless}}
                </tbody>
            </table>
        </div>

        <p class="total-line"><span class="label">Total Mensual: </span><span class="data">$ {{ total }}</span></p>
        
        <div class="pdf-line-footer">                                              
            <span><span class="label">Promotor:</span><span class="data">{{ generadoPor }}</span></span>
            <span><span class="label">Salta,</span><span class="data">{{ fechaGeneracion }}</span></span>
            <span class="data pdf-signature-line">Firma y aclaración del titular o resp.</span>
        </div> 
        <div class="pdf-footer">SOLICITUD SUJETA A APROBACIÓN</div>                                         
    </div>

    <!-- PÁGINA 2 -->

<div id="pdf-page-2" class="pdf-page" style="page-break-before: always;">

    <div class="pdf-section-title">CONDICIONES GENERALES</div>
    <div class="two-columns">
        <div class="column">
            <p>- Carroza fúnebre.</p>
            <p>- Carroza porta coronas (en caso de haber más de 4 (cuatro) coronas).</p>
            <p>- 2 (dos) Autos de acompañamiento.</p>
            <p>- Ataúd París Superior.</p>
            <p>- Sala velatorio.</p>
            <p>- Servicio de buffet en sala.</p>
            <p>- Instalación de capilla ardiente a domicilio.</p>
            <p>- Pack de buffet domiciliario.</p>
            <p>- Cobertura a nivel nacional.</p>
            <p>- Traslado desde cualquier punto del país a su domicilio declarado en la Provincia de Salta.</p>
        </div>
        <div class="column">
            <p>- Servicio de Tanatopraxia en Salta Capital.</p>
            <p>- Servicio de Tanatoestética en la provincia de Salta.</p>
            <p>- Parcela a perpetuidad en Cementerio Parque que incluye apertura, placa, florero y mantenimiento por un año, en Salta en cementerio Parque Santa Teresita o Servicio de Cremación con provisión de urna o nicho hasta 5 años en cementerio municipal.</p>
            <p>- Pago de impuestos y sellado.</p>
            <p>- Esquela necrológica de 50 palabras con foto o 3 pases radiales.</p>
            <p>- Misa sin cargo en capilla propia.</p>
            <p>- Asesor fúnebre las 24 hs.</p>
            <p>- Subsidio de gasto de Luto $10.000, por fallecimiento de cualquier integrante del grupo familiar.</p>
        </div>
    </div>
    <p class="small-text"><b>IMPORTANTE:</b> El servicio deberá ser requerido exclusivamente en la Empresa Pieve S.A. El servicio de sepelios que brinda es completo, no contemplándose reintegros por el NO uso parcial o total del mismo. El servicio queda sujeto a usos y costumbres de la zona y a la disponibilidad técnica y geográfica. Cuando el plan contemple un límite de edad hasta 25 años para hijos, pagarán a partir de esa edad como adherentes (dentro del mismo plan). Vigencia por débito automático, banco o empresa al primer débito, por accidente. De 0 a 65 años - 90 días con la cuota al día. De 66 a 70 años - 180 días con la cuota al día. Los sistemas de cobro a domicilio, débito automático en caja de ahorro, cuenta corriente o tarjeta de crédito, descuento por planilla de sueldo, etc. son servicios complementarios al cliente que no liberan a éste de la responsabilidad de tal control y de la efectivización de sus pagos en las oficinas de la empresa dentro de los plazos establecidos de manera que no se produzcan involuntariamente atrasos en sus pagos de primas que generen la pérdida de la vigencia correspondiente. Confiero mandato para contratar seguro sepelio, vida, salud, accidente personales, transplante de órganos o pólizas colectivas emitidas por Pieve Seguros S.A. y/o Instituto de Salta Seguros de Vida S.A.</p>
    
    <div class="pdf-section-title">BENEFICIOS SIN COSTO</div>
    <div class="sub-title">SEGURO DE TRANSPLANTE</div>
    <p class="small-text">Comprobado el transplante de órganos humanos como única alternativa terapéutica para el titular, se abonará al momento o con posterioridad al acto quirúrgico, la suma indemnizatoria. Exclusión a los 70 años.</p>
    <div style="text-align: center; font-weight: bold; font-size: 7pt; border-top: solid 1px #888; border-left: solid 1px #888; border-right: solid 1px #888;">Capitales Asegurados</div>
    <table class="benefits-table">
        <tr><td>Médula Ósea.......$280.000</td><td>Corazón - Pulmón.......$200.000</td><td>Hepático..........$200.000</td><td>Riñón..............$80.000</td></tr>
        <tr><td>Corazón...........$200.000</td><td>Pulmón - Bipulmón......$200.000</td><td>Páncreas..........$200.000</td><td>Córneas............$20.000</td></tr>
    </table>
    
    <div class="sub-title" style="margin-top: 4px;">SALUD - VÁLIDO PARA PLANES: PIEVE, PIEVE 6, NIVEL 1 Y NIVEL 7</div>
       <div class="two-columns">
        <div class="column  small-text">
          <p>CONSULTAS</p>
          <p>3 (tres) por mes por grupo familiar a valores</p>
          <p>diferenciados en estas especialidades:</p>
          <p>Cardiología</p>
          <p>Clínica Médica</p>
          <p>Dermatología</p>
          <p>Garganta, Nariz y Oído</p>
          <p>Ginecología y Obstetricia</p>
          <p>Neurología</p>
          <p>Oftalmología</p>
          <p>Pediatría</p>
          <p>Urología</p>          
        </div>
        <div class="column small-text">
          <p>PRÁCTICAS DE LABORATORIO</p>        
          <p>5 determinaciones por mes y por grupo familiar (s/cargo) de:</p>        
          <p>Hemograma</p>        
          <p>Eritrosedimentación</p>        
          <p>Glucemia</p>        
          <p>Urea</p>        
          <p>Orina completa</p>        
          <br>
          <p>OFTALMOLOGÍA</p>
          <p>1 (una) práctica de rutina por mes por grupo familiar (s/cargo) consistente en: Fondo de ojo</p>       
        </div>
        <div class="column small-text">
          <p>RADIOLOGÍA</p>
          <p>2 (dos) placas por mes y por grupo familiar (s/cargo) de miembro superior o inferior o tórax o senosparanasales</p>
          <br>
          <p>ECOGRAFÍAS</p>        
          <p>1 (una) ecografía por mes y por grupo familiar (s/cargo):</p>        
          <p>Ginecológica, Abdominal ó Heparobiliar</p>        
          <p>Ginecoobstetricia (3 durante todo el embarazo)</p>
        </div>
        <div class="column small-text">
          <p>CARDIOLOGÍA</p>
          <p>1 (una) práctica por mes por grupo de:</p>
          <p>1 ECG y ECV por mes</p>
          <br>
          <p>CARENCIAS</p>
          <p>2º pago: consultas, farmacia, odontología, médico a domicilio.</p>
          <p>3º pago: prácticas</p>
          <p>Las prácticas de diagnóstico no incluidas en el sistema serán abonadas a valores diferenciados.</p>
        </div>
    </div>

    <div class="sub-title" style="margin-top: 4px;">COBERTURA ODONTOLÓGICA INTEGRAL</div>
      <p class="small-text">Hasta 9 valores prestaciones mensuales a valores diferenciados.</p>
      <div class="two-columns">
        <div class="column  small-text">
          <p>Consultas</p>
          <p>Examen, Diagnóstico, Fichado</p>
          <p>Endodoncia</p>
        </div>
        <div class="column small-text">
          <p>Prótesis</p>
          <p>Prevención</p>
          <p>Odontopediatría</p>       
        </div>
        <div class="column small-text">
          <p>Periodoncia</p>
          <p>Radiología</p>
          <p>Cirugía</p>
        </div>
        <div class="column small-text">
          <p>Operatoria Dental</p>
        </div>
    </div>
    <p class="small-text">URGENCIAS ODONTOLÓGICAS (*) - Con medicamentos de urgencia (analgesicos-calmantes) las 24 hs los 365 días del año (s/c).</p>

    
    <div class="sub-title" style="margin-top: 4px; display: flex; justify-content: space-between;">
      <div>FARMACIA</div>
      <div style="margin-right: 4px; font-weight:lighter">Farmacia Pieve 24: Caseros y 20 de febrero. Tel. (0387) 4221500 y San Juan 687 - Tel. (0387) 4214843</div>
    </div>
      <p class="small-text" style="font-weight: bold;">SIN VADEMÉCUM</p>
      <div class="two-columns">
        <div class="column small-text">
          <p><span style="font-weight: bold;">50%</span> de dto. en medicamentos genéricos recetados. Hasta 9 medicamentos mensuales.</p>
          <p>-Vigencia al 1º débito por blanco, empresa o tarjeta. -Vigencia segundo pago en oficina,domicilio, Pago Fácil y Rapipago.</p>
          <p><span style="font-weight: bold;">35%</span> de dto. en medicamentos con nombre comercial recetados. Hasta 9 medicamentos mensuales.</p>
        </div>
        <div class="column small-text">
          <p>-Vigencia al 1º débito por blanco, empresa o tarjeta. -Vigencia segundo pago en oficina, domicilio, Pago Fácil y Rapipago.</p>
          <p><span style="font-weight: bold;">30%</span> de dto. en medicamentos genéricos, sin receta, sin límite (inmediato)</p>
          <p><span style="font-weight: bold;">20%</span> de dto. en medicamentos con nombre comercial, sin receta, sin límite (inmediato)</p>
        </div>
    </div>
    <p class="small-text"><span style="font-weight: bold;">DOBLE DESCUENTO DE FARMACIAS:</span> en caso de que su obra social posea acuerdo con nuestra farmacia, el descuentos se hará sobre saldo. (*)</p>

    <div class="sub-title" style="margin-top: 4px; display: flex; justify-content: space-between;">
      <div>ÓPTICA</div>
      <div style="margin-right: 4px; font-weight:lighter">Alberdi 245 - Tel. (0387)4217775</div>
    </div>
    <p class="small-text">Con un descuento hasta un 40% en anteojos recetados. 20% en anteojos para el sol, líquidos y accesorios. Solo en Salta Capital.</p>
    
        <div class="sub-title" style="margin-top: 4px;">EL MÉDICO EN SU CASA: 0810-888 3226</div>
        <p class="small-text">Pieve Salud S.A. brinda a través de ECCO 0810-888 326 con coberturas en EMERGENCIAS.</p>
        <p class="small-text">Esos instantes en que la vida corre peligro y se necesitan respuestas inmediatas. -Médicos a domicilio (consulta a valores preferenciales sin reintegro). Solo para Salta Capital.</p>
        <p class="small-text">(*) Sujeto a disponibilidad geográfica.</p>
    <br>
    <br>
    <br>
    <br>
    <div style="display: flex; justify-content: end;">
      <span class="data pdf-signature-line">Firma y aclaración del titular o resp.</span>
    </div>
        
    <div class="pdf-section-title" style="margin-top: 10px;">AUTORIZACIÓN DÉBITO AUTOMÁTICO</div>
    <p class="small-text">
        Nombre Y Apellido <b class="data-cell-bold">{{ apellidoResponsablePago }}, {{ nombreResponsablePago }}</b> en mi carácter de adherente al sistema <b class="data-cell-bold">{{ empresa }}</b> Cuenta N° <b class="data-cell-bold">{{ cbu }}</b> N° de tarjeta <b class="data-cell-bold">{{ tarjeta }}</b> Vto. <b class="data-cell-bold">{{ vencimiento }}</b> autorizo a incluir en mi resumen mensual y dentro de la cuenta de pago mínimo, el importe de la cuenta o factura mensual en concepto de pago de servicios de SEPELIO prestado por Pieve Salud S.A.
        Igualmente manifiesto que <b class="data-cell-bold">{{ empresa }}</b> no se responsabiliza por el cumplimiento de las obligaciones asumidas por siendo totalmente extraño por cualquier concepto por la falta o deficiente atención de los servicios. También se me ha informado que la presente autorización podrá ser revocada temporal o definitivamente, debiendo en tal caso notificar a ADMINISTRACIÓN PIEVE S.A.
    </p>
      <div class="pdf-line-footer">                                              
          <span><span class="label">Promotor:</span><span class="data">{{ generadoPor }}</span></span>
          <span><span class="label">Salta,</span><span class="data">{{ fechaGeneracion }}</span></span>
          <span class="data pdf-signature-line">Firma y aclaración del titular o resp.</span>
      </div> 
      <div class="pdf-footer">SOLICITUD SUJETA A APROBACIÓN</div>   

</div>

</div>
</body>
</html>